<div class="flotante">

    <mat-grid-list cols="5" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
            <img class="logo" alt="spaceXlogo" src="{{ logoIcon }}" />
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
            <ul>
                <li routerLinkActive="active" >
                    <a [routerLink]="['principal']">
                        {{ 'menu.home' | translate }}
                    </a>
                </li>

                <li routerLinkActive="active" >
                    <a [routerLink]="['about']">
                        {{ 'menu.about' | translate }}
                    </a>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>

</div>

<div>
    <router-outlet></router-outlet>
</div>
